.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }
  
  .whatsapp-icon img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .contacto {
    text-align: center;
    font-size: 1.5rem;
  }

  .Nosotros {
    text-align: center;
    font-size: 1.5rem;
  }