.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }
  
  .whatsapp-icon img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .contacto {
    text-align: center;
    font-size: 1.5rem;
  }

  .Donaciones {
    text-align: center;
    font-size: 1.5rem;
  }

  .Nosotros {
    text-align: center;
    font-size: 1.5rem;
  }

  li {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .header {
    width: 100%;
    overflow: hidden;
  }

  body {
    max-width: auto;
  }

  .img-fluid {
    overflow: hidden;
  }

  .atc{
    margin-left: 8rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }

  .Sobreimagen {
    position: absolute;
    font-family: serif;
        top: 50%;
        left: 21%;
        transform: translate(-50%, -50%);
        color: rgb(241, 190, 95);
        background-color: rgba(0, 0, 0, 0.123);
        padding: 10px;
        border-radius: 50px;
        margin-right: 40rem;
        text-align: center;
  }

  .imgcarousel1 {
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        top: 50%;
        left: 23%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.13);
        padding: 10px;
        border-radius: 10%;
        margin-right: 40rem;
        text-align: center;
        font-weight: bold;
        -webkit-text-stroke: 1.5px;
        -webkit-text-stroke-color: black;
  }

  .imgcarousel2 {
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        padding: 10px;
        border-radius: 25px;
        text-align: center;
  }

  .imgcarousel3 {
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        border-radius: 25px;
        text-align: center;
  }
  /*.playwrite-ng-modern-Nombre {
    font-family: "Playwrite NG Modern", cursive;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-size: 3.5rem;
    margin-top: 5rem;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 0.5px #000000;
  }*/

  /*.cinzel-uniquifier {
    background-color: rgba(0, 0, 0, 0.548);
    border-radius: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(0, 0, 0);
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3.5rem;
    margin-top: 7rem;
    font-weight: bold;
    -webkit-text-stroke: 1px #ffffff;
  }*/

  .denk-one-regular {
    border-radius: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    font-family: "Denk One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    margin-top: 5rem;
    font-weight: bold;
    -webkit-text-stroke: 1px #000000;
  }