h2 {
  text-align: start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }
  
  .whatsapp-icon img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .contacto {
    text-align: center;
    font-size: 1.5rem;
  }

  .Donaciones {
    text-align: center;
    font-size: 1.5rem;
  }

  .Nosotros {
    text-align: center;
    font-size: 1.5rem;
  }

  li {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .header {
    margin-left: 1%;
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
  .test {
    font-family: fantasy;
    text-align: center;
    width: 30%;
    margin-left: 2%;
    display: flex;
    font-size: 50px;
  }
