.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }
  
  .whatsapp-icon img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .contacto {
    text-align: center;
    font-size: 1.5rem;
  }

  .Donaciones {
    text-align: center;
    font-size: 1.5rem;
  }

  .Nosotros {
    text-align: center;
    font-size: 1.5rem;
  }

  li {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .header {
    width: 100%;
    overflow: hidden;
  }

  body {
    max-width: auto;
  }

  .img-fluid {
    overflow: hidden;
  }

  .atc{
    margin-left: 8rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }

  .Sobreimagen {
    position: absolute;
    font-family: serif;
        top: 50%;
        left: 21%;
        transform: translate(-50%, -50%);
        color: rgb(241, 190, 95);
        background-color: rgba(0, 0, 0, 0.123);
        padding: 10px;
        border-radius: 50px;
        margin-right: 40rem;
        text-align: center;
  }

  .imgcarousel1 {
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        top: 50%;
        left: 23%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.144);
        padding: 10px;
        border-radius: 10%;
        margin-right: 40rem;
        text-align: center;
        font-weight: bold;
        -webkit-text-stroke: 1.5px;
        -webkit-text-stroke-color: black;
  }

  .imgcarousel2 {
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        background-color: rgb(54, 153, 87);
        padding: 10px;
        border-radius: 25px;
        text-align: center;
  }

  .imgcarousel3 {
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 25px;
        text-align: center;
  }
  

  .adopciones {
    max-width: 100%;
    display: flex;
    overflow: hidden;
  }

  .titulo {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .cat {
    width: auto;
    height: 25rem;
    margin-left: 10rem;
    border-radius: 2rem;

  }

  .cat2 {
    width: auto;
    height: 25rem;
    margin-left: 10rem;
    border-radius: 2rem;
  }
  
  .cat3 {
    width: auto;
    height: 25rem;
    margin-left: 10rem;
    border-radius: 2rem;
  }

  .tenor-gif-embed{
    margin-left: 30%;
    margin-bottom: 5rem;
  }

  .denk-one-regular {
    border-radius: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    font-family: "Denk One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    margin-top: 5rem;
    font-weight: bold;
    -webkit-text-stroke: 1px #000000;
  }



  .nosotros {
    text-align: justify;
    line-height: 1.6;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .btn-conoce {
  
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
  }
  
  .btn-conoce:hover {
    background-color: #ffffff; 
    transform: scale(1.05);
    color: rgb(0, 0, 0);
  }
  
  .btn-custom {
    background-color: rgb(212, 152, 38); 
    border-color: rgb(212, 152, 38); 
    color: #ffffff; 
    border-width: 2px; 
    padding: 10px 20px;
  }
  .btn-custom:hover {
    background-color: rgb(255, 255, 255); 
    border-color:  rgb(212, 152, 38); 
    color: #000000; 
    border-width: 3px;
  }
  .img-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
  }
  
  .img-container img {
    max-height: 100%;
    object-fit: cover;
  }
  .donaciones {
    text-align: justify;
    line-height: 1.6;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
  
  .donation-reasons {
    list-style-type: decimal;
    padding-left: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .donation-reasons li {
    margin-bottom: 0.5rem;
  }
  
  .img-hover-zoom {
    position: relative;
    overflow: hidden;
    height: 200px;
  }
  
  .img-hover-zoom img {
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .img-hover-zoom:hover img {
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .img-hover-zoom:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .reasons-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .reason {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .reason:hover {
    transform: translateY(-5px);
  }
  
  .reason-title {
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
  
  
  }
  
  .reason-checkbox {
    display: none;
  }
  
  .reason-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .reason-checkbox:checked + .reason-title + .reason-content {
    max-height: 300px;
    padding: 10px;
    background-color: #fff;
  }
  
  .reason-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
  } 